*{
    box-sizing: border-box;
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingContainer{
    width: 400px;
    text-align: center;
    position: relative;
}

.loadingContainer .loading-counter{
    font-size:40px;
}

.loading-bg{
    height:8px;
    position: absolute;
    background-color:#ccc;
    border-radius: 12px;
    border:none;
    width:100%;
}

.loading-front{
    height:8px;
    position: absolute;
    background-color:red;
    border-radius: 12px;
    border:none;
    width:0%;
}