*{
    box-sizing: border-box;
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
}
.slider-container{
    width:700px;
    height:500px;
    overflow: hidden;
    border-radius: 50px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    position: relative;
}

.image-wrapper{
/* transform:translate(-1400px); */
display:flex;
}
.slider-arrow-icon{
    position: absolute;
    color:white;
    top:50%;
    transform: translateY(-50%);
    cursor:pointer;
    font-size:24px;
}
.next{
    right:20px;
}
.prev{
    left:20px;
}

.slider-arrow-icon:hover{
    color:blue;
    transition: ease-in-out 0.3s;
}